{% extends 'blog_app/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <h1>{{ title }}!</h1>
    <ul class="list-group">
        {% for author in authors %}
            <li class="list-group-item">
                <a href="{% url 'author_detail' author.pk %}"><h5>{{ author.name }}</h5></a>

            </li>
        {% empty %}
            <p>Постов нет</p>
        {% endfor %}
    </ul>
    <p>Это главная страница вашего блога. Здесь вы можете найти последние обновления и новости.</p>
{% endblock %}

