annotated-types==0.7.0
attrs==25.1.0
blinker==1.9.0
certifi==2025.1.31
charset-normalizer==2.0.12
click==8.1.8
Flask==3.1.0
frozenlist==1.5.0
idna==3.10
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.5
magic-filter==1.0.12
MarkupSafe==3.0.2
multidict==6.1.0
packaging==24.2
pluggy==1.5.0
propcache==0.3.0
pydantic==2.10.6
pydantic_core==2.27.2
python-dotenv==1.0.1
PyYAML==6.0.2
soupsieve==2.6
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==1.26.20
Werkzeug==3.1.3

